<div class="modal fade" id="gameModal-{{slug}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title game-object">{{name}}</h4>
            </div>
            <div class="modal-body">
                <img src={{poster}} alt={{name}} class="game-box-modal" id="single-game">
                <p>{{summary}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div> 
    </div>
</div>