<div class="modal fade" id="searchModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search Results</h4>
            </div>
<<<<<<< HEAD
            <div class="modal-body"></div>
                <p>Hello</p>
                <h1>{{searchList}}</h1>                
                {{#each searchList}}
                    <p>{{name}}</p>>
                    <p>{{summary}}</p>
                    <button type="button" class="btn btn-default">Add to library</button>
                {{/each}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
=======

            {{#each searchList}}
                <div class="modal-body">
                    <p>{{name}}</p>>
                    <p>{{summary}}</p>
                    <button type="button" class="btn btn-default">Add to library</button>
                </div>
            {{/each}}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

>>>>>>> 3d4938b4b9b9c4e716d6c58e35815b97aea4e885
            </div>
        </div> 
    </div>
</div>