<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          {{#each user}}
          
            <div class="modal-header">
                <h4 class="modal-title">Welcome {{name}}!</h4>
                <button onclick="location.href='/logout'" class="btn btn-primary col-sm-2" id="logoutButton">Logout</button>
            </div>
            <div class="modal-body">
                <img src="{{avatar}}" alt="UserAvatar" id="userAvatar" class="game-box">  
                <div class="form-group">
                  <label for="inputAvatar">Avatar Image URL</label>
                  <input type="text" class="form-control" id="inputAvatar" placeholder="{{avatar}}">
                </div> 
                <div class="form-group">
                  <label for="inputBackground">Background Image URL</label>
                  <input type="text" class="form-control" id="inputBackground" placeholder="{{backgroundimage}}">
                </div>              
                <div class="form-group">
                  <label for="inputColor">Color</label>
                  <select id="inputColor" class="form-control">
                    <option selected>{{accentcolor}}</option>
                    <option>black</option>
                    <option>red</option>
                    <option>orange</option>
                    <option>yellow</option>
                    <option>green</option>
                    <option>blue</option>
                    <option>indigo</option>
                    <option>violet</option>
                    <option>white (reset)</option>
                  </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary col-sm-2 save-user-data" data-dismiss="modal" id="saveButton">Save</button>
            </div>
          {{/each}}
        </div> 
    </div>
</div>