<div class="row friend-requests" data-userID={{UserId}} data-requestID={{requestID}} data-friendStatus="{{status}}" data-requestName="{{requestName}}">
    <p class="friend-request-name">{{requestName}} </p>
</div>