{{!-- <div class="row"> --}}
    {{!-- <div class="col-sm-6"> --}}
        <img src={{poster}} alt="Game" class="game-box" data-toggle="modal" data-target="#gameModal-{{slug}}" data-name={{name}} data-rating={{rating}} data-summary={{summary}} data-releasedate={{releasedate}} data-poster={{poster}}>
    {{!-- </div> --}}
{{!-- </div> --}}
{{> modals/gamemodal-block}}