<div class="row">
    <div class="col-sm-6">
<<<<<<< HEAD
        <img src={{poster}} alt="Game" class="game-box" data-toggle="modal" data-target="#gameModal-{{slug}}" data-name={{name}} data-rating={{rating}} data-summary={{summary}} data-poster={{poster}}>
=======
        <img src={{poster}} alt="Game" class="game-box" data-toggle="modal" data-target="#gameModal-{{name}}" data-name={{name}} data-rating={{rating}} data-summary={{summary}} data-poster={{poster}}>
>>>>>>> 3d4938b4b9b9c4e716d6c58e35815b97aea4e885
    </div>
</div>
{{> modals/gamemodal-block}}